@charset "UTF-8";

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Regular_1.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Regular_1.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular_1.woff") format("woff"), url("../fonts/montserrat/Montserrat-Regular_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Thin.woff") format("woff"), url("../fonts/montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Bold_1.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold_1.woff") format("woff"), url("../fonts/montserrat/Montserrat-Bold_1.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Medium_1.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium_1.woff") format("woff"), url("../fonts/montserrat/Montserrat-Medium_1.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-BoldItalic_1.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BoldItalic_1.woff") format("woff"), url("../fonts/montserrat/Montserrat-BoldItalic_1.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-MediumItalic_1.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-MediumItalic_1.woff") format("woff"), url("../fonts/montserrat/Montserrat-MediumItalic_1.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Thin_1.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Thin_1.woff") format("woff"), url("../fonts/montserrat/Montserrat-Thin_1.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-ThinItalic_1.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ThinItalic_1.woff") format("woff"), url("../fonts/montserrat/Montserrat-ThinItalic_1.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("WorkSans-Medium.eot");
  src: url("../fonts/workSans/WorkSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/workSans/WorkSans-Medium.woff2") format("woff2"), url("../fonts/workSans/WorkSans-Medium.woff") format("woff"), url("../fonts/workSans/WorkSans-Medium.ttf") format("truetype"), url("../fonts/workSans/WorkSans-Medium.svg#WorkSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/workSans/WorkSans-Regular.eot");
  src: url("../fonts/workSans/WorkSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/workSans/WorkSans-Regular.woff2") format("woff2"), url("../fonts/workSans/WorkSans-Regular.woff") format("woff"), url("../fonts/workSans/WorkSans-Regular.ttf") format("truetype"), url("../fonts/workSans/WorkSans-Regular.svg#WorkSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("../fonts/nunito/NunitoSans-Regular.eot");
  src: url("../fonts/nunito/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito/NunitoSans-Regular.woff2") format("woff2"), url("../fonts/nunito/NunitoSans-Regular.woff") format("woff"), url("../fonts/nunito/NunitoSans-Regular.ttf") format("truetype"), url("../fonts/nunito/NunitoSans-Regular.svg#NunitoSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("../fonts/nunito/NunitoSans-Regular_1.eot");
  src: url("../fonts/nunito/NunitoSans-Regular_1.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito/NunitoSans-Regular_1.woff2") format("woff2"), url("../fonts/nunito/NunitoSans-Regular_1.woff") format("woff"), url("../fonts/nunito/NunitoSans-Regular_1.ttf") format("truetype"), url("../fonts/nunito/NunitoSans-Regular_1.svg#NunitoSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("../fonts/nunito/NunitoSans-SemiBold.eot");
  src: url("../fonts/nunito/NunitoSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito/NunitoSans-SemiBold.woff2") format("woff2"), url("../fonts/nunito/NunitoSans-SemiBold.woff") format("woff"), url("../fonts/nunito/NunitoSans-SemiBold.ttf") format("truetype"), url("../fonts/nunito/NunitoSans-SemiBold.svg#NunitoSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("../fonts/nunito/NunitoSans-Regular_2.eot");
  src: url("../fonts/nunito/NunitoSans-Regular_2.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito/NunitoSans-Regular_2.woff2") format("woff2"), url("../fonts/nunito/NunitoSans-Regular_2.woff") format("woff"), url("../fonts/nunito/NunitoSans-Regular_2.ttf") format("truetype"), url("../fonts/nunito/NunitoSans-Regular_2.svg#NunitoSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Медиа запросы */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header,
section,
footer {
  overflow: hidden;
}

body {
  font-family: 'Montserrat';
  font-weight: normal;
}

h1 {
  margin-bottom: 30px;
  font-weight: 500;
  color: #919191;
  font-size: 35.4px;
  line-height: 1.2;
}

h2 {
  font-size: 30px;
}

input {
  background: #fff;
  height: 48px;
  border: none;
  margin-bottom: 30px;
  padding: 17px 15px;
  font-size: 16px;
  color: #787878;
}

input:focus {
  outline: none;
}

textarea {
  resize: none;
  margin-bottom: 52px;
}

.green {
  color: #007d2f;
  background: #007d2f;
}

.gray {
  color: #919191;
}

.open {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.open-relative {
  position: relative;
}

.additionally {
  display: none;
}

.additionally-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger {
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
}

.burger-top,
.burger-middle,
.burger-bottom {
  position: absolute;
  height: 5px;
  border-radius: 2px;
  width: 100%;
  background: #007d2f;
}

.burger-top {
  top: 0;
}

.burger-middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger-bottom {
  bottom: 0;
}

.slick-arrow {
  background: none;
  border: none;
  text-transform: uppercase;
}

.arrow-left,
.arrow-right {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.singlePrew-link-arrow {
  color: #fff !important;
}

.mg,
.thrd,
.frth {
  -webkit-transform: translateX(22px);
      -ms-transform: translateX(22px);
          transform: translateX(22px);
}

.mg {
  background: url("/img/first-image_03.png") no-repeat center center/cover;
}

.thrd {
  background: url("/img/work_04.jpg") no-repeat center center/cover;
}

.frth {
  background: url("/img/work_10.jpg") no-repeat center center/cover;
}

.header {
  padding: 0 0 250px;
  background: url("../img/header_01.jpg") no-repeat center center/cover;
}

.header .container {
  padding-bottom: 30px;
}

.header-popup {
  position: absolute;
  right: -350px;
  top: 100px;
  text-align: center;
  background: rgba(0, 125, 47, 0.75);
  width: 200px;
  z-index: 99;
}

.header-nav {
  padding: 17px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 58px;
}

.header-nav-home {
  margin-bottom: 0;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.header-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-nav__item {
  text-transform: uppercase;
  margin-right: 20px;
}

.header-nav__item a {
  color: #919191;
  font-weight: 500;
}

.header-nav__item a:hover {
  color: #007d2f;
}

.header-nav__item-popup {
  margin: 12px 0;
}

.header-nav__item-popup a {
  font-family: 'Nunito Sans';
  font-weight: 400;
  color: #000;
  font-weight: bold;
}

.header-content-home {
  margin: 0 auto;
  text-align: center;
}

.header-content__item {
  font-size: 15.3px;
  font-weight: 100;
  line-height: 24px;
  margin-bottom: 75px;
}

.header-content__link {
  padding: 20px 40px;
  background: #007d2f;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
}

.about {
  padding: 95px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-items {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.about-title {
  font-size: 35px;
  margin-bottom: 40px;
}

.about-content {
  font-size: 14px;
  margin-bottom: 50px;
  line-height: 1.5;
}

.about-img {
  margin: 0 auto;
  max-width: 220px;
}

.about-img picture img {
  width: 100%;
}

.skills {
  background: #f8f9f9;
}

.skills-progressive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-progressive__item {
  width: 100%;
  height: 3px;
  font-weight: 500;
}

.skills-progressive__item-green {
  width: 75%;
  background: #007d2f;
}

.skills-progressive__item-grey {
  width: 25%;
  background: #d8d8d8;
}

.skills-progressive__item-three {
  width: 35%;
}

.skills-progressive__item-nine {
  width: 90%;
}

.skills-progressive__item-ten {
  width: 10%;
}

.skills-data {
  padding: 165px 0 160px;
  max-width: 500px;
  margin: 0 auto;
}

.skills-data-title {
  margin-bottom: 35px;
}

.skills-data-title__items {
  margin-bottom: 40px;
}

.skills-data-title__item {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.skills-img {
  background: url("../img/skills-img_03.jpg") no-repeat center center/cover;
}

.numbers {
  padding: 75px 0;
  background: #007d2f;
  color: #fff;
  font-size: 12px;
}

.numbers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers-icon {
  width: 45px;
  color: #fff;
  margin-bottom: 10px;
}

.numbers-digit {
  margin-bottom: 12px;
  font-size: 18px;
}

.numbers-data {
  text-transform: uppercase;
}

.work {
  min-width: 1364px;
  background: #282828;
}

.work-img {
  margin: 0 auto;
  max-width: 1364px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.work-img__item {
  position: relative;
  width: 25%;
}

.work-img__item:hover .work-img__item-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.work-img__item-hover {
  width: 100%;
  height: 100%;
  background-color: rgba(131, 131, 131, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-img__item-hover-link {
  color: #fff;
}

.work-img__item-hover-link i {
  font-size: 48px;
  line-height: 1;
}

.work-img__item-hover-home {
  background-color: rgba(55, 137, 86, 0.851);
}

.work-img__item img,
.work-img__item source {
  width: 100%;
  margin: 0 auto;
}

.work-link {
  text-align: center;
  background: #007d2f;
  padding: 45px 0;
  font-size: 21px;
  text-transform: uppercase;
}

.work-link__item {
  color: #fff !important;
}

.process {
  padding: 95px 0 100px;
  background: #fff;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
}

.process-content {
  margin: 0 auto;
  margin-bottom: 45px;
}

.process-content-title {
  font-size: 43.65px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.process-content-subtitle {
  font-size: 23px;
  color: #787878;
  line-height: 33.42px;
}

.process-video__item {
  width: 100%;
  height: 570px;
}

.services {
  padding: 110px 0 100px;
  background: #f5f5f5;
}

.services__items {
  text-align: center;
  margin-bottom: 45px;
}

.services__items:nth-child(1),
.services__items:nth-child(2),
.services__items:nth-child(3),
.services__items:nth-child(4) {
  margin-bottom: 45px;
}

.services-icon {
  color: #656565;
  margin-bottom: 25px;
}

.services-specialty {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bold;
  color: #191919;
  font-size: 15px;
}

.services-responsibilities {
  font-size: 15px;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.8;
}

.testimonials {
  padding: 195px 0 120px;
  background: #007d2f;
  text-align: center;
  color: #fff;
}

.testimonials-block {
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.5;
}

.testimonials-block-text {
  margin-bottom: 40px;
}

.testimonials-block-author {
  margin-bottom: 90px;
  text-transform: uppercase;
}

.testimonials .slick-dots {
  margin-top: 50px;
  bottom: -100px;
  position: relative;
}

.testimonials .slick-dots li {
  list-style: none;
}

.testimonials .slick-dots button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.5;
}

.testimonials #slick-slide-control00,
.testimonials #slick-slide-control01,
.testimonials #slick-slide-control02 {
  font-size: 0;
  background: #fff;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  padding: 0;
}

.testimonials .slick-dots li.slick-active button:before,
.testimonials .slick-dots li button:before,
.testimonials .slick-dots li button:hover:before,
.testimonials .slick-dots li button:focus:before {
  display: none;
}

.testimonials .slick-dots li {
  position: relative;
  margin: 0 auto;
}

.testimonials .slick-active #slick-slide-control00,
.testimonials .slick-active #slick-slide-control01,
.testimonials .slick-active #slick-slide-control02 {
  padding: 0;
  opacity: 1;
  width: 10px;
  height: 10px;
}

.testimonials .slick-slide:active,
.testimonials .slick-slide:focus {
  outline: none;
}

.clients {
  padding: 60px 0;
  text-align: center;
}

.need {
  background: #f5f5f5;
  padding: 25px 0 120px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
}

.need .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.need-title {
  margin-bottom: 30px;
  font-family: 'Nunito Sans';
  font-weight: 400;
}

.need-subtitle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 38px;
  max-width: 74%;
  font-size: 16px;
  color: #787878;
  line-height: 1.5;
  font-family: 'Nunito Sans';
  font-weight: 400;
}

.need-content {
  margin: auto 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.need-content-form-title {
  width: 100%;
  font-family: 'Nunito Sans';
  font-weight: 400;
}

.need-content-form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.need-content-form-block__item {
  width: 48%;
  font-family: 'Nunito Sans';
  font-weight: 400;
}

.need-content-form-textarea {
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  height: 170px;
  padding: 17px 15px;
  font-size: 16px;
  color: #787878;
}

.need-content-form-textarea::-webkit-input-placeholder {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 16px;
  color: #787878;
}

.need-content-form-textarea::-moz-placeholder {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 16px;
  color: #787878;
}

.need-content-form-textarea:-ms-input-placeholder {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 16px;
  color: #787878;
}

.need-content-form-textarea::-ms-input-placeholder {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 16px;
  color: #787878;
}

.need-content-form-textarea::placeholder {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 16px;
  color: #787878;
}

.need-content-form-submit {
  background: #007d2f;
  padding: 20px 25px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
}

.footer {
  padding: 97px 0 93px;
  background: #141414;
  color: #bcbcbc;
  font-family: 'Nunito Sans';
}

.footer-title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.footer-copyright {
  line-height: 1.4;
}

.footer-block__item-link {
  color: #bcbcbc;
  font-size: 15px;
}

.footer-block__item:not(:nth-child(4)) {
  margin-bottom: 10px;
}

.homeWork-img__item-hover {
  background: rgba(55, 137, 86, 0.851);
}

.homeText {
  background: #007d2f;
  padding: 110px 0 95px;
}

.homeText-block {
  margin: 0 auto;
  text-align: center;
}

.homeText-block-title {
  margin-bottom: 30px;
}

.homeText-block-subtitle {
  font-weight: 500;
  color: #fefefe;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 1.8;
}

.aboutText {
  background: #323232;
}

.aboutText-block-title {
  font-size: 62px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
}

.aboutAbout-items {
  width: 80%;
  padding: 135px 0;
  text-align: left;
}

.aboutAbout-img {
  background: url("../img/About-img_02.jpg") no-repeat center center/cover;
}

.aboutAbout-hand {
  margin-left: 0;
}

.aboutAbout-content {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 16px;
  color: #787878;
  margin-bottom: 30px;
}

.aboutNeed {
  padding: 100px 0 120px;
}

.aboutNeed-title {
  font-weight: bold;
}

.aboutNeed-subtitle {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 16px;
  color: #787878;
}

.aboutNeed-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.singleAbout-img {
  background: url("../img/04_Project-Single_03.jpg") no-repeat center center/cover;
  -webkit-transform: translateX(22px) !important;
      -ms-transform: translateX(22px) !important;
          transform: translateX(22px) !important;
}

.singleAbout-block {
  margin-bottom: 15px;
  color: #787878;
}

.singleAbout-block-item-bold {
  display: inline-block;
  font-weight: bold;
  width: 60px;
  color: #171717;
}

.singleAbout-block-item-link {
  font-size: 16px;
  color: #787878;
}

.singleAbout .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.singlePrew {
  background: #007d2f;
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.singlePrew .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
}

.singlePrew-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.singlePrew-link__item img:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.singlePrew-link-arrow-text {
  text-transform: uppercase;
  font-size: 12px;
}

.singlePrew .slick-dots {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.singlePrew .slick-dots li {
  width: 6px;
  height: 6px;
  border: none;
  background: #fff;
  margin: 2px;
}

.singlePrew .slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
}

.singlePrew .slick-dots li button::before {
  content: '';
}

.singlePrew .slick-active {
  background: #cd8b2f !important;
}

.contactNeed {
  background: #f5f5f5;
  padding: 100px 0;
}

.contactNeed .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactNeed-title {
  margin-bottom: 35px;
}

.contactNeed-items {
  width: 100%;
  padding: 0;
}

.contactNeed-block {
  margin-bottom: 20px;
}

.contactNeed-block-item-bold {
  font-weight: bold;
  color: #171717;
  max-width: 100%;
}

.contactNeed-content-form-submit {
  margin-bottom: 120px;
}

.contactNeed-img {
  width: 100%;
}

@media (max-width: 1399.98px) {
  .work {
    min-width: 100%;
  }

  .work-img {
    max-width: 100%;
  }
}

@media (max-width: 1199.98px) {
  .mg,
  .thrd,
  .frth {
    display: block;
    min-height: 320px;
    width: 100%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .singleAbout-items {
    padding: 40px 0 20px;
  }

  .singleAbout-img {
    display: block;
    min-height: 320px;
    width: 100%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .singlePrew {
    margin-top: 50px;
  }
}

@media (max-width: 991.98px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .arrow-left-text {
    display: none;
  }

  .mg,
  .thrd,
  .frth {
    display: block;
    min-height: 320px;
    width: 100%;
  }

  .header-nav__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 75px;
    right: -350px;
    color: #000;
    z-index: 99;
    width: 150px;
  }

  .header-nav__item {
    background: rgba(0, 125, 47, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0;
    width: 120px;
    text-align: center;
    margin: 0;
  }

  .header-nav__item:not(:last-child) {
    border-bottom: none;
  }

  .header-nav__item:hover {
    background: #787878;
    width: 150px;
    border-radius: 5px;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
  }

  .header-nav__item a {
    font-size: 10px;
    color: #fff;
    font-weight: bold;
  }

  .header-nav__item a:hover {
    color: #fff;
  }

  .about-items {
    width: 80%;
  }

  .numbers {
    padding: 40px 0;
  }

  .numbers__items {
    margin-bottom: 35px;
  }

  .numbers-digit {
    font-size: 15px;
  }

  .process {
    padding: 45px 0 45px;
  }

  .process-content-title {
    font-size: 30px;
  }

  .process-content-subtitle {
    font-size: 18px;
  }

  .process-video__item {
    height: 450px;
  }

  .services-specialty {
    font-size: 12px;
  }

  .services-responsibilities {
    font-size: 12px;
  }

  .footer {
    padding: 40px 0 40px;
  }

  .footer-block:nth-child(1),
  .footer-block:nth-child(2) {
    margin-bottom: 25px;
  }

  .singleAbout-img {
    display: block;
    min-height: 320px;
    width: 100%;
  }

  .singlePrew .row {
    margin: 0;
  }

  .contactNeed-items {
    width: 100%;
  }

  .index-color {
    border: none;
    height: 22px;
    background: rgba(83, 87, 145, 0.5);
  }

  .index-color:hover {
    background: #232746;
  }

  .home-color {
    height: 22px;
    background: rgba(191, 99, 29, 0.5);
  }

  .home-color:hover {
    background: rgba(131, 54, 21, 0.5);
  }

  .about-color {
    height: 25px;
    background: rgba(13, 87, 124, 0.5);
  }

  .about-color:hover {
    background: #102d49;
  }

  .contact-color {
    height: 22px;
    background: rgba(23, 94, 0, 0.5);
  }

  .contact-color:hover {
    background: rgba(18, 81, 67, 0.5);
  }

  .contact-color:hover a {
    color: #000;
  }

  .single-color {
    height: 22px;
    background: rgba(0, 109, 210, 0.5);
  }

  .single-color:hover {
    background: rgba(116, 206, 255, 0.5);
  }

  .single-color:hover a {
    color: #000;
  }
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  .skills-img {
    display: none;
  }

  .mg,
  .thrd,
  .frth {
    display: block;
    min-height: 320px;
    width: 100%;
  }

  .header {
    padding-bottom: 100px;
  }

  .header-content {
    text-align: center;
  }

  .header-content__item {
    color: #787878;
    font-size: 12px;
    font-weight: 400;
  }

  .header-content__link {
    padding: 10px 25px;
    font-size: 12px;
  }

  .about {
    padding: 50px 0 30px;
  }

  .about-title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .about-content {
    font-size: 12px;
  }

  .about-img {
    max-width: 150px;
  }

  .skills-data {
    padding: 65px 0 60px;
  }

  .skills-data-title__items {
    margin-bottom: 25px;
  }

  .skills-data-title__item {
    margin-bottom: 12px;
  }

  .skills-img {
    min-height: 50vh;
  }

  .work-img__item {
    width: 50%;
  }

  .work-link {
    padding: 25px 0;
    font-size: 15px;
  }

  .process-video__item {
    height: 320px;
  }

  .testimonials {
    padding: 60px 0 50px;
  }

  .testimonials .slick-dots {
    bottom: 0;
  }

  .clients-block:nth-child(1),
  .clients-block:nth-child(2) {
    margin-bottom: 40px;
  }

  .need {
    padding: 25px;
  }

  .need-subtitle {
    max-width: 100%;
  }

  .homeText-block-subtitle {
    color: #fefefe;
    font-size: 12px;
  }

  .aboutAbout-items {
    padding: 50px 0;
  }

  .singleAbout-img {
    display: block;
    min-height: 320px;
    width: 100%;
  }

  .singleAbout-block-item-link {
    font-size: 12px;
  }
}

@media (max-width: 575.98px) {
  input {
    height: 30px;
    margin-bottom: 15px;
  }

  input[type=submit] {
    height: 48px;
    padding: 17px 15px;
  }

  .numbers,
  .services,
  .clients,
  .skills-img {
    display: none;
  }

  .mg,
  .thrd,
  .frth {
    display: block;
    min-height: 320px;
    width: 100%;
  }

  .about-img {
    max-width: 100px;
  }

  .work-img__item {
    width: 50%;
  }

  .services {
    padding: 60px 0 50px;
  }

  .need-content-form-block__item {
    width: 100%;
  }

  .singleAbout-img {
    display: block;
    min-height: 320px;
    width: 100%;
  }

  .contactNeed-content-form-submit {
    margin-bottom: 30px;
  }

  .contactNeed-img {
    display: none;
  }
}

@media (max-width: 445.98px) {
  .process-video__item {
    height: 220px;
  }

  .singlePrew-link-arrow-text {
    display: none;
  }
}

.webp .mg{ background: url(/img/first-image_03.webp) no-repeat center center/cover; }

.webp .thrd{ background: url(/img/work_04.webp) no-repeat center center/cover; }

.webp .frth{ background: url(/img/work_10.webp) no-repeat center center/cover; }

.webp .header{ background: url(../img/header_01.webp) no-repeat center center/cover; }

.webp .skills-img{ background: url(../img/skills-img_03.webp) no-repeat center center/cover; }

.webp .aboutAbout-img{ background: url(../img/About-img_02.webp) no-repeat center center/cover; }

.webp .singleAbout-img{ background: url(../img/04_Project-Single_03.webp) no-repeat center center/cover; }